/* Coding Dojo Bootcamp library of reusable code */

/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  /* Fixed width container class that will "auto-center" itself */

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

/* BUTTONS */

.btn_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnSearch {
  display: flex;
  width: 100px;
  height: 25px;
  color: darkblue;
  font-weight: bold;
  border: 2px solid darkblue;
  border-radius: 25px;
  display: block;
}

.btnAdd {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: darkblue;
  color: white;
  font-size: larger;
  border-radius: 50%;
  border-color: darkblue;
  margin-top: 15px;
  display: block;
  border-style: none;
}

.btnCreateAcct {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: royalblue;
  color: white;
  height: 30px;
  width: 150px;
  border: 2px solid darkblue;
  box-shadow: 3px 3px darkblue;
}

/* FLEXBOX */

.flex_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  display: flex;
}

.col, .col-2, .col-3 {
  background-color: seagreen;
  color: white;
  margin: 10px;
  padding: 20px;
}

.col {
  display: flex;
  flex: 1;
}

.col-2 {
  display: flex;
  flex: 2;
}

.col-3 {
  display: flex;
  flex: 3;
}

/* NAVIGATION-BAR */

.nav-container {
    background-color: navajowhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav-title {
    display: flex;
    flex: .15 0 auto;
    color: royalblue;
    justify-content: left;
}

ul.nav-links {
  display: flex;
  flex: .7 0 auto;
  align-items: center;
}

li.nav-links {
  display: flex;
  margin-left: 20px;
  text-decoration: none;
  justify-content: flex-start;
}

a.nav-links {
  display: flex;
  color: royalblue;
  font-weight: bold;
  text-decoration: none;
}

.btn_nav-container {
  display: flex;
  flex: .15 0 auto;
  justify-content: flex-end; 
}

.btn_nav-signOut {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: royalblue;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    width: 75px;
    height: 30px;
}
